body{ 

/*font-family: sans-serif;
font-size: 30 px;
font-weight: 400;
margin-left: 10em;
color: white;
text-transform: uppercase;
line-height: 1.5em;
background-color: rgb(0, 0, 54);
}*/

/*
.alias { cursor: alias;
 

}


.all-scroll { cursor: all-scroll;

}

.auto { cursor: auto;

}

.cell { cursor: cell;

}

.col-resize { cursor: col-resize;

}

.context-menu { cursor: context-menu;

}

.copy { cursor: copy;

}

.crosshair { cursor: crosshair;

}

.default { cursor: default;

}

.e-resize { cursor: e-resize;

}

.ew-resize { cursor: ew-resize;

}

.grab { cursor: grab;

}

.grabbing { cursor: grabbing;

}

.help { cursor: help;

}

.move {cursor: move; 

}

.n-resize { cursor: n-resize;

}

.ne-resize { cursor: ne-resize;

}

.nswe-resize { cursor: nwse-resize;

}

.no-drop { cursor: no-drop;

}

.none { cursor: none;

}

.not-allowed { cursor: not-allowed;

}

.pointer { cursor: pointer;

}

.progress { cursor: progress;

}

.row-resize { cursor: row-resize;

}

.s-resize { cursor: s-resize;

}

.se-resize { cursor: se-resize;

}

.sw-resize { cursor: sw-resize;

}

.text { cursor: text;

}

.url { cursor: url;

}

.w-resize { cursor: w-resize;

}

.wait { cursor: wait;

}

.zoom-in { cursor: zoom-in;

}
.zoom-out { cursor: zoom-out;

}
*/
